<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle || 'ExpressJS Application' %></title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li class="<% if (page === 'root') { %>active<% } %>">
            <a href="/">Home</a>
          </li>
          <li class="<% if (page === 'products') { %>active<% } %>">
            <a href="/view/products">Products</a>
          </li>
          <li class="<% if (page === 'add-product') { %>active<% } %>">
            <a href="/view/add-product">Add Product</a>
          </li>
          <li class="<% if (page === 'cart') { %>active<% } %>">
            <a href="/view/cart">Cart</a>
          </li>
          <li class="<% if (page === 'checkout') { %>active<% } %>">
            <a href="/view/checkout">Checkout</a>
          </li>
        </ul>
      </nav>
    </header>
    <main></main>
  </body>
</html>
