<%- include('base-top') %>
<div class="form-wrapper">
  <h1>Root</h1>
  <a href="/view/products">Products</a>
    <a href="/view/add-product">Add Product</a>
  <a href="/view/cart">Cart</a>
  <a href="/view/checkout">Checkout</a>
</div>
<%- include('base-bottom') %>
