<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title ExpressJS Application
    link(rel="stylesheet" href="/index.css")
  body
    header
      nav
        ul
          li(class={active: page === 'root'})
            a(href="/") Home
          li(class={active: page === 'user'})
            a(href="/view/user") Add User
          li(class={active: page === 'product'})
            a(href="/view/product") Add Product
    main
      block content
