extends base

block content
  div.form-wrapper
    h1 A form
    form(action="/api/product" method="POST")
      input(type="text" name="name" id="name" placeholder="name")
      input(type="text" name="price" id="price" placeholder="price")
      input(type="text" name="description" id="description" placeholder="description")
      button(type="submit") Add Product

  div.product-list
    h2 Product List
    each product in products
      div.product-item
        h3= product.name
        p Price: $#{product.price}
        p Description: #{product.description}
